---
layout: archive
title: "Talks and posters"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<p>Here is a list of all the talks I have given and posters I have presented, as well as a list of my upcoming talks.
You can also find a list of the conferences I have attended and my past and future travel at the bottom of the page.
</p>

{% if site.upcomingtalks.size > 0 %}
  <h2>Upcoming Talks</h2>
  {% for post in site.upcomingtalks reversed %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% endif %}

<h2>Previous Talks</h2>
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>Posters</h2>
{% for post in site.posters reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

{% if site.futuretravel.size > 0 %}
<h2>Future Travel</h2>
{% for post in site.futuretravel reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
{% endif %}

<h2>Past Travel</h2>
{% for post in site.conferences reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
