{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    {% if post.collection == 'talks' %}
      <p>{{ forloop.rindex }}. <b>{{ title }}</b>
      <br>{% if post.date %}{{ post.date | date: '%B %d, %Y' }}, {{ post.venue }},  {{post.location}}{% endif %}
      <br>{% if post.slides %}, <a href=" {{ post.slides }} ">Slides</a> {% endif %}</p>
    {% endif %}
    {% if post.collection == 'posters' %}
      <p>{{ forloop.rindex }}. <b>{{ title }}</b>
      <br>{% if post.date %}{{ post.date | date: '%B %d, %Y' }}, {{ post.venue }},  {{post.location}}{% endif %}
      <br>{% if post.pdf %}<a href=" {{ post.pdf }} ">Poster</a> {% endif %}</p>
    {% endif %}
    {% if post.collection == 'upcomingtalks' %}
      <p>{{ forloop.index }}. <b>{{ title }}</b>
      <br>{% if post.date %}{{ post.date | date: '%B %d, %Y' }}, {{ post.venue }},  {{post.location}}{% endif %}
    {% endif %}
  {% if post.collection == 'futuretravel' %}
    <p>{{ forloop.rindex }}. {% if post.link %}<b><a href=" {{ post.link }} ">{{ title }}</a></b> {% else %}<b>{{ title }}</b>{% endif %}
    <br>{% if post.startdate %}{{ post.startdate | date: '%B %d, %Y' }}{% if post.enddate %} - {{ post.enddate | date: '%B %d, %Y' }}{% endif %}, {{ post.venue }},  {{post.location}}{% endif %}
  {% endif %}
    {% if post.collection == 'conferences' %}
      <p>{{ forloop.rindex }}. {% if post.link %}<b><a href=" {{ post.link }} ">{{ title }}</a></b> {% else %}<b>{{ title }}</b>{% endif %}
      <br>{% if post.startdate %}{{ post.startdate | date: '%B %d, %Y' }}{% if post.enddate %} - {{ post.enddate | date: '%B %d, %Y' }}{% endif %}, {{ post.venue }},  {{post.location}}{% endif %}
    {% endif %}
  </article>
</div>
