{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          <p>{{ forloop.rindex }}. <b>{{title}}</b> {% if post.comment %} {{post.comment}} {% endif %}
          <br>{{ post.authors }}
          <br><a href=" {{ post.paperlink }} ">{{post.info}}</a>
          <br>{% if post.arxiv %} <a href=" {{ post.arxiv }} ">arXiv</a>{% endif %} {% if post.pdf %}{% if post.arxiv %} / {% endif %} <a href=" {{ post.pdf }} ">pdf</a>{% endif %} </p>
        {% elsif post.collection == 'undergrad' %}
          <p><b>{{title}}</b> {% if post.comment %} {{post.comment}} {% endif %}
          <br>{{ post.authors }}
          <br><a href=" {{ post.paperlink }} ">{{post.info}}</a>
          <br>{% if post.arxiv %} <a href=" {{ post.arxiv }} ">arXiv</a>{% endif %} {% if post.pdf %}{% if post.arxiv %} / {% endif %} <a href=" {{ post.pdf }} ">pdf</a>{% endif %} </p>
        {% elsif post.collection == 'accepted' %}
          <p>{{ forloop.rindex }}. <b>{{title}}</b> {% if post.comment %} {{post.comment}} {% endif %}
          <br>{{ post.authors }}
          <br>Accepted in <i>{{ post.venue }}</i> ({{ post.date | default: "1900-01-01" | date: "%Y" }}). {% if post.paperlink %}(<a href=" {{ post.paperlink }} ">Link</a>){% endif %} 
          <br>{% if post.arxiv %} <a href=" {{ post.arxiv }} ">arXiv</a>{% endif %} {% if post.pdf %}{% if post.arxiv %} / {% endif %} <a href=" {{ post.pdf }} ">pdf</a>{% endif %} </p>
        {% elsif post.collection == 'preprints' %}
          <p>{{ forloop.rindex }}. <b>{{title}}</b>
          <br>{{ post.authors }}
          <br>Preprint, available at: arXiv:{{ post.arxiv_id }}  ({{ post.date | default: "1900-01-01" | date: "%Y" }}).
          <br>{% if post.arxiv %} <a href=" {{ post.arxiv }} ">arXiv</a>{% endif %} {% if post.pdf %}{% if post.arxiv %} / {% endif %} <a href=" {{ post.pdf }} ">pdf</a>{% endif %} </p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}
  
  </article>
</div>