<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }} - Roope Anttila</title>
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" href="/img/favicon.png" sizes="any">
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
</head>
<body>

  <header>
    {{ partial "header" . }}
  </header>

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  <footer>
    © 2026 Roope Anttila
  </footer>
</body>
</html>