{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <div class="about">
    <div class="about-img-div">
      <img src="img/profile-var.jpg" class="about-img hide-small">
      <p>
        <b>Personal information:</b><br>
        {{ .Site.Params.affiliation }}<br>
        <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a><br>
        <a href="{{ .Site.Params.orcid }}">ORCID</a><br>
        <a href="{{ .Site.Params.scholar }}">Google Scholar</a><br>
        <a href="{{ .Site.Params.researchgate }}">Research Gate</a><br>
        <a href="{{ .Site.Params.linkedin }}">LinkedIn</a><br>
      </p>
    </div>
    <div class="about-text">
      {{ .Content }}
    </div>
  </div>
{{ end }}